<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://unpkg.com/corgicss/css/corgi.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
    <title>Minesweeper</title>
    <style type="text/css" media="screen">
      #minesweeper table td {
        padding: 0
      }

      #minesweeper button.box {
        width: 40px;
        height: 40px;
        border-radius: 0;
        outline: 0;
        font-size: 1.3rem
      }

      #minesweeper button.box:hover {
        background: #eee
      }
    </style>
  </head>
  <body>
    <div id="minesweeper" class="container">
      <table class="table -bordered">
        <tr v-for="rows in boxes">
          <td v-for="box in rows">
            <button class="box" @click="open(box)">
              <span v-if="box.opened">
                <span v-if="box.bomb">💣</span>
                <span v-if="box.neighbors > 0 && !box.bomb">{{ box.neighbors }}</span>
              </span>
              <span v-else>
                x
              </span>
            </button>
          </td>
        </tr>
      </table>
    </div>

    <script charset="utf-8">
      function getRandomInt(max) {
        return Math.floor(Math.random() * Math.floor(max));
      }

      function Coordinates(x, y) {
        this.x = x;
        this.y = y;
      }

      function Box(options) {
        this.opened = false
        this.coordinates = options.coordinates
        this.bomb = options.bomb
        this.neighbors = 0
      }

      var app = new Vue({
        el: '#minesweeper',
        data: {
          message: 'hello',
          boxes: [],
          rows: 10,
          cols: 10,
          bombs: {}
        },

        methods: {
          open: function (box) {
            box.opened = true
            if (box.bomb) {
              alert('bogsa')
            }
          },
          countNeighbors: function (box) { 
            var neighbors = 0;
            for (var i = box.coordinates.x - 1; i <= box.coordinates.x + 1; i++) {
              for (var j = box.coordinates.y - 1; j <= box.coordinates.y + 1; j++) {
                if (i >= 0 && j >= 0 && i <= this.rows && j <= this.rows) {
                  var key = "" + parseInt(i) + "/" + parseInt(j)
                  neighbors += this.bombs[key] ? 1 : 0
                }
              }
            }
            return neighbors
          },
        },

        mounted() {
          for (var b = 0; b < 10; b++) {
            var key = "" + getRandomInt(10) + "/" + getRandomInt(10)
            this.bombs[key] = true
          }

          for (var i = 0; i < this.cols; i++) {
            var row = []
            for (var j = 0; j < this.rows; j++) {
              var isBomb = false;
              var key = "" + parseInt(i) + "/" + parseInt(j)

              if (this.bombs[key]) {
                isBomb = true
              }
              var coordinates =  new Coordinates(i, j)

              var box = new Box({ 
                coordinates: coordinates,
                bomb: isBomb,
              })

              box.neighbors = this.countNeighbors(box)
              row.push(box)
            }
            this.boxes.push(row)
          }
        }
      })
    </script>
  </body>
</html>
