<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://unpkg.com/corgicss/css/corgi.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
    <title>Minesweeper</title>
    <style type="text/css" media="screen">
      #minesweeper table td {
        padding: 0
      }

      #minesweeper button.box {
        width: 40px;
        height: 40px;
        border-radius: 0;
        outline: 0;
        font-size: 1.3rem
      }

      #minesweeper button.box:hover {
        background: #eee
      }
    </style>
  </head>
  <body>
    <div id="minesweeper" class="container">
      <table class="table -bordered">
        <tr v-for="rows in boxes">
          <td v-for="box in rows">
            <button class="box" @click="open(box)">
              <span v-if="box.opened">
                <span v-if="box.bomb">💣</span>
                <span v-if="box.neighbors > 0 && !box.bomb">{{ box.neighbors }}</span>
              </span>
              <span v-else>
                x
              </span>
            </button>
          </td>
        </tr>
      </table>
    </div>

    <script charset="utf-8">
      function getRandomInt(max) {
        return Math.floor(Math.random() * Math.floor(max));
      }

      function Coordinates(x, y) {
        this.x = x;
        this.y = y;
      }

      function Box(options) {
        this.opened = false
        this.coordinates = options.coordinates
        this.bomb = options.bomb
        this.neighbors = 0
      }

      var app = new Vue({
        el: '#minesweeper',
        data: {
          message: 'hello',
          boxes: [],
          rows: 10,
          cols: 10,
          bombs: {},
          numBombs: 10,
        },

        methods: {
          open: function (box) {
            if (box.bomb) {
              alert('bogsa')
            }
            this.openNeighbors(box)
          },

          openNeighbors: function (box) {
            if (!box.bomb && !box.opened) {
              box.opened = true
            } else {
              return
            }

            if (box.neighbors === 0) {
              var neighbors = this.getNeighbors(box)
              neighbors.map(this.openNeighbors)
            }
          },

          getNeighbors: function (box) { 
            var neighbors = []

            for (var i = box.coordinates.x - 1; i <= box.coordinates.x + 1; i++) {
              for (var j = box.coordinates.y - 1; j <= box.coordinates.y + 1; j++) {

                if (box.coordinates.x === i && box.coordinates.y === j) {
                  continue
                }

                if (i >= 0 && j >= 0 
                    && i < this.rows && j < this.rows) {
                  neighbors.push(this.boxes[i][j])
                }

              }
            }

            // function gago(box) { return "x=" + box.coordinates.x + ", y=" + box.coordinates.y }
            // console.log('box x=', box.coordinates.x, ' y=', box.coordinates.y, neighbors.map(gago))

            return neighbors
          },

          countNeighbors: function (box) { 
            var bomba = 0;
            var neighbors = this.getNeighbors(box)
           
            for (var i = 0; i < neighbors.length; i++) {
              var coords = neighbors[i].coordinates
              var key = "" + parseInt(coords.x) + "/" + parseInt(coords.y)
              bomba += this.bombs[key] ? 1 : 0
            }

            return bomba
          },
        },

        mounted() {
          for (var b = 0; b < this.numBombs; b++) {
            var key = "" + getRandomInt(this.rows) + "/" + getRandomInt(this.cols)
            this.bombs[key] = true
          }

          for (var i = 0; i < this.cols; i++) {
            var row = []

            for (var j = 0; j < this.rows; j++) {
              var key = "" + parseInt(i) + "/" + parseInt(j)
              var coordinates =  new Coordinates(i, j)

              var box = new Box({ 
                coordinates: coordinates,
                bomb: this.bombs[key]
              })

              row.push(box)
            }
            this.boxes.push(row)
          }


          for (var i = 0; i < this.cols; i++) {
            for (var j = 0; j < this.rows; j++) {
              var box = this.boxes[i][j]
              this.boxes[i][j].neighbors = this.countNeighbors(box)
            }
          }
        }
      })
    </script>
  </body>
</html>
